@using e_Invoice.Mvc.Models;
@model IEnumerable<InvoiceViewModel>

       


<div class="modal-body">

    @using (Html.BeginForm("_ViewModal", "Home", FormMethod.Post))
    {
        <div class="container modal-bg">
            <div class="row">
                <h2 style="">Δημιουργία Παραστατικού</h2>
            </div>
            <form id="target">
                <div style="background: @InvoiceService.Profile.Color;">
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1" class="white">Αριθμός Παραστατικού: </label>
                        <input type="text" class="form-control" id="aa" placeholder="Α/Α">
                    </div>
                    <div class="form-group col-md-4 input-group-sm">
                        <label for="exampleInputEmail1"class="white">Ημερομηνία έκδοσης:</label>
                        <input class="datepicker" data-date-format="dd/mm/yyyy">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1" class="white">Αιτιολογία: </label>
                        <input type="text" class="form-control" id="aitiologia" placeholder="">
                    </div>
                </div>
                <div style="background: @InvoiceService.Profile.Color;">
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Κωδικός: </label>
                        <input type="text" class="form-control" id="industrycode" placeholder="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1" class="white">Επωνυμία: </label>
                        <input type="text" class="form-control" id="name" value="@InvoiceService.Profile.Name">
                    </div>
                </div>
                <div style="background: @InvoiceService.Profile.Color;">
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1" class="white">Α.Φ.Μ. :</label>
                        <input type="number" class="form-control" id="afm" value="@InvoiceService.Profile.VAT">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1" class="white">Δ.Ο.Υ.: </label>
                        <input type="text" class="form-control" id="dou" value="@InvoiceService.Profile.TaxationAuthority">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1" class="white">Διεύθυνση: </label>
                        <input type="email" class="form-control" id="address" value="@InvoiceService.Profile.StreetName">
                    </div>
                </div>
                <div style="background: @InvoiceService.Profile.Color;">
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1" class="white">Πόλη: </label>
                        <input type="text" class="form-control" id="city" value="@InvoiceService.Profile.CityName">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1" class="white">Είδος: </label>
                        <select id="kind" style="width: 236px;">
                            <option value=""></option>
                            <option value="01">ΤΙΜΟΛΟΓΙΟ</option>
                            <option value="02">ΑΠΟΔΕΙΞΗ ΠΑΡΟΧΗΣ ΥΠΗΡΕΣΙΩΝ</option>
                            <option value="03">ΠΙΣΤΩΤΙΚΟ ΤΙΜΟΛΟΓΙΟ</option>

                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1" class="white">Τ.Κ.: </label>
                        <input type="number" class="form-control" id="tk" value="@InvoiceService.Profile.PostalZone">
                    </div>
                </div>
                <div style="background: @InvoiceService.Profile.Color;">
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1" class="white">Δραστηριότητα: </label>
                        <input type="text" class="form-control" id="job" value="@InvoiceService.Profile.IndustryClassification">
                    </div>
                </div>
                <div style="background: @InvoiceService.Profile.Color;">
                    <button class="addItem btn btn-info" style="margin-left: 15px;margin-bottom: 10px;">+</button>
                    <label for="exampleInputEmail1" class="white">Λίστα με είδη: </label>
                </div>
                <div style="background: @InvoiceService.Profile.Color;">
                    <table id="itemsTable" class="col-md-4" style="background: @InvoiceService.Profile.Color;">
                        <thead>
                            <tr>
                                <th class="white">CPV</th>
                                <th class="white">Περιγραφή</th>
                                <th class="white">Μονάδα Μέτρησης</th>
                                <th class="white">Ποσότητα</th>
                                <th class="white">Αξία</th>
                                <th class="white">Έκπτωση</th>
                                <th class="white">ΦΠΑ</th>
                                @*<th>Συνολική Αξία</th>*@
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="row" style="padding-top: 80px;">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
                    <div class="col-md-4 col-md-offset-4">
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Άκυρο</button>
                        <button type="button" id="approve-btn" class="btn btn-danger btn-lg">Αποθήκευση</button>
                    </div>
                </div>
            </form>
        </div>
    }
</div>

<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
        $('.datepicker').datepicker();
        $('#kind').select2();
        $('.addItem').on('click', function (e) {
            e.preventDefault();
            $('#itemsTable tbody').append(
                '<tr> ' +
                    '<td><input type="text" class="UUID"/></td>' +
                    '<td><input type="text" class="ItemName"/></td>' +
                    '<td><input type="text" class="UnitCode"/></td>' +
                    '<td><input type="text" class="InvoicedQuantity"/></td>' +
                    '<td><input type="text" class="PriceAmount"/></td>' +
                    '<td><input type="text" class="VatPercentage"/></td>' +
                    '<td><input type="text" class="TaxAmount"/></td>' +
                '</tr>');
        });
        $('.addItem').trigger('click');
    });
    /*
    public string ID { get; set; }
        public string UUID { get; set; }
        public string ItemName { get; set; }
        public string UnitCode { get; set; }
        public decimal InvoicedQuantity { get; set; }
        public decimal PriceAmount { get; set; }
        public decimal VatPercentage { get; set; }
        public decimal TaxAmount { get; set; }*/
</script>
@*8a ginetai store i forma*@
<script type="text/javascript">
    $("#approve-btn").click(function ()  {
        ////menei datepicker kai lista proiontwn
        //event.preventDefault();

        var invoiceLines = [];
        $('#itemsTable tbody tr').each(function () {
            var invoiceLine = {
                UUID: $(this).find(".UUID").val(),
                ItemName: $(this).find(".ItemName").val(),
                UnitCode: $(this).find(".UnitCode").val(),
                InvoicedQuantity: $(this).find(".InvoicedQuantity").val(),
                PriceAmount: $(this).find(".PriceAmount").val(),
                VatPercentage: $(this).find(".VatPercentage").val(),
                TaxAmount: $(this).find(".TaxAmount").val()
            };
            invoiceLines.push(invoiceLine);
        });




        var myObj = {
            AA: $("#aa").val(),
            Aitiologia: $("#aitiologia").val(),
            Industrycode: $("#industrycode").val(),
            Name: $("#name").val(),
            Afm: $("#afm").val(),
            Doy: $("#dou").val(),
            Address: $("#address").val(),
            City: $("#city").val(),
            Tk: $("#tk").val(),
            Job: $("#job").val(),
            Date: $('.datepicker').val(),
            Kind: $('#kind').val(),
            Lines: invoiceLines
        };

   
        console.log(myObj);
     
        $.ajax({
            url: '/Home/CreatePdf',
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(myObj),
            success: function (result) {
                $('#modal-container').modal('hide');
                
            },
            error: function (err) {
                console.log(err.responseText);
                //alert(err.responseText);
            }
        })
    });
</script>