@using e_Invoice.Mvc.Models;
@model IEnumerable<InvoiceViewModel>




    <table class="table table-hover">
        <thead>
        <th>Αριθμός Παραστατικού</th>
        <th>Ημερομηνία Έκδοσης</th>
        <th>Επωνυμία Προμηθευτή</th>
        <th>ΑΦΜ</th>
        <th>Αιτιολογία</th>
        <th>Συνολική Αξία</th>
        </thead>


        @foreach (var item in Model)
        {
            decimal priceAmount = 0;
            decimal InvoicedQuantity = 0;
            decimal total = 0;
            foreach (var line in item.Lines)
            {
                priceAmount += line.PriceAmount;
                InvoicedQuantity += line.InvoicedQuantity;
            }
            total = (InvoicedQuantity * priceAmount);
            <tr>
                <td>@item.ID</td>
                <td>@item.IssueDate</td>
                <td>@item.Supplier.Name</td>
                <td>@item.Supplier.VAT</td>
                <td>@item.Reason</td>
                <td>@total</td>
            </tr>



        }
    </table>

  @Html.ActionLink("Button ", "ViewModal", "Home",
null, new { @class = "modal-link btn btn-success" })





<div style="padding-left: 15px; padding-right: 15px;" id="modal-container" class="modal fade"
     tabindex="-1" role="dialog">
</div>

@section Scripts{
<script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();
            // Initialize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });
            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });
        });
</script>
    }